{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Choose a new Form</title>
{% endblock title %}

{% block content %}

<div class="container">
    <div class="border p-3 border-primary">
        <h2>CHS Senior Profile</h2>
    </div>

    <div class="row text-white text-center" style="height:80vh;">
        <div class="col bg-dark">
                <h2>Student Questionnaire</h2>         
            <div style="margin-top:10vh;">
            </div>
        </div>
        <div class="col bg-secondary">
            <div style="margin-top:10vh;">
                <h2>Parent Questionnaire</h2>            
            </div>
        </div>
    </div>
</div>


{% endblock content %}