{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Home</title>
{% endblock title %}

{% block content %}

<div style="width: 100vw; height: 500px; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap;">
<div class="bg-light" style="width: 50vw; height: 500px;">
  <div class="mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <p class="text-black">Hello</p>
   </div>
</div>

<div class="bg-danger" style="width: 50vw; height: 500px;">
  <div class="mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <p class="text-white">Hello</p>
   </div>
</div>
</div>

{% endblock content %}